<h1>Home</h1>

<h3>Your IP: {{ home.ip }}</h3>

<h3>Headers from an http request</h3>
<pre>{{ home.headers | json }}</pre>

<!--Pass a string to a component-->
<foo-component data="test"></foo-component>

<!--Pass a variable to a component-->
<p>I'm passing {{ home.ip }} to bar-component</p>
<bar-component somedata="home.ip"></bar-component>